extends ./layouts/default.jade


block content
		#centreDiv
			.row
				.col-md-12
					if design
						.row
							.col-md-12
								h3 #{design.name} by
									a(href="/profile/" + design.designerUserName)  #{design.designerUserName}

						.row
							.col-md-12
								img.designMainImg(src=design.mainImage.large.url)

						.row
							.col-md-12
								if design.additionalImages
									h3 Additional Images:
									each image in design.additionalImages
										img(src=image.medium.url)

						.row
							.col-md-12
								h3 Description:
								p #{design.description}


						if auth && auth.admin
							if design.additionalFiles
								h3 Additional Files:
									each file in design.additionalFiles
										a(href=file.url download=file.name) #{file.name}
							if design.additionalInfo
									h3 Additional Information:
									p #{design.additionalInfo}
							unless design.approved
								.row
									.col-md-12
										button.form-control#acceptDesign Accept Design
										button.form-control#rejectDesign Reject Design

						else
							h4 Error - Design not found

append footer
	script(src='/scripts/design.js')
