extends ./layouts/default.jade

block content
	div
		.row.box
			.col-md-12

				if user
					//- p #{user}
					if user.profileImage
						img.profilePic(src=user.profileImage.small.url)
						h3.profileInfo #{user.firstName} #{user.lastName}
						//- p Username: #{user.username}
						a#email.glyphicon.glyphicon-envelope(href="mailto:" + user.email, target="_top")
						a#website.glyphicon.glyphicon-globe(href=user.links)
						//-just placeholders for now
						a(href=user.links)
							img#twitter(src="/img/1428206576_twitter.svg")
						p.profileInfo Member since: #{user.dateJoined.getDate() + "/" + (user.dateJoined.getMonth() + 1) + "/" + user.dateJoined.getFullYear()}

					.row
						.col-md-12
							legend
							form(action='/profile/{username}', method='PUT', enctype='multipart/form-data')
							.form-group
								h4 About Me
								.input-group
									input.form-control.editField#edit(type='text', value=user.bio, readonly)
									//- look into adjusting the height according to length of paragraph
									.input-group-addon
										span.glyphicon.glyphicon-ok.hide
										span.glyphicon.glyphicon-pencil.hide

					.row
						.col-md-12
							legend
							h4 My Designs
							img.myDesigns(src="/img/fikay-girl.png")

				else
					h3 Error - user not found

	//- No designs currently being passed to profile, will require an addiotnal db query
	//- .row
		.col-md-12
			h4 My Designs
			img.designs(src=, href=)

append footer
	script(src="/scripts/profile.js")
