extends ./layouts/default.jade

block content
	.row
		.col-md-12

			if user
				p #{user}
				if user.profileImage
					img.profilePic(src=user.profileImage.small.url)


				.row
					.col-md-12
						h3 #{user.firstName} #{user.lastName}
						h4 Username: #{user.username}
						h4 Email: #{user.email}
						h4 Memeber since: #{user.dateJoined}

				.row
					.col-md-12
						h4 Bio:
						//- for bio, do we want to give them an option to edit their bio, or not enough time at this stage?
						//- Yes, but maybe not enough time. I suggest an edit link that reuses the sign up view and populates the fields with user data to edit
						p #{user.bio}

			else
				h3 Error - user not found

	//- No designs currently being passed to profile, will require an additional db query
	//- .row
		.col-md-12
			h4 My Designs:
			img.designs(src=, href=)
